---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-4">
          <h4>Getting Started</h4>
          <a class="list-group-item"  href="/docs/home/">Getting started</a>
          <a class="list-group-item" href="/docs/custom_checks/">Custom Checks</a>

          <h4>Checks</h4>
          {% include docs_nav.html %}

          <h4>Github Actions</h4>
          <a class="list-group-item" href="/docs/github_security_alerts/">Code Scanning Alerts</a>
          <a class="list-group-item" href="/docs/pr_commenter/">PR Commenter</a>

        </div>
        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            <div id="markdown-content-container">{{ content }}</div>
            <div style="clear:both;">
              <p class="text-center">
                <br />
                <a target="_blank" href="{{site.git_edit_address}}/{{ page.path }}" class="btn btn-default" role="button">
                  <i class="fa fa-pencil fa-lg"></i> Improve this page
                </a>
              </p>
            </div>
            <hr>
            {% include section_nav.html %}
        </div>

    </div>
</div>
